@model Iotiva.Models.DashboardModel

@section bodyheader
{
    <div class="jumbotron">
        <div class="container">
            <h1>Iotiva</h1>
            <p class="lead">Repository Dashboard</p>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>Things</h3>
            </div>
            <div class="panel-body text-center">
                <h1>@Model.ThingCount</h1>
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>Events</h3>
            </div>
            <div class="panel-body text-center">
                <h1>@Model.EventCount</h1>
            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>Most Recent</h3>
            </div>
            <div class="panel-body text-center">
                <h2>@Model.RecentUpdates[0].Id</h2>
            </div>
        </div>
    </div>
</div>
<p> </p>

<div class="alert alert-warning" role="alert">
    Iotiva is under development so please understand that while we strive to keep things as stable and secure as possible, <strong>this cake is not baked</strong> just yet.
    I expect plenty of changes to the API as larger workloads are tested and new issues discovered.
</div>

<div id="target" class="row">
    @foreach (var item in Model.RecentUpdates)
    {
        Html.RenderPartial("_QuickThing", item);
    }
</div>