@model IEnumerable<Iotiva.Models.Things.ThingModel>

@{
    ViewBag.Title = "RepoItems";
}

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Repository (@Model.Count() Things)</h2>
<div id="result" style="display:none"></div>
<div id="target" class="row">
    @foreach (var item in Model)
    {
       Html.RenderPartial("_QuickThing", item);
    }
</div>