body {
    padding-top: 45px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-block {
}

@media (max-width: 767px) {
    .center-block-xs {
        display: block !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


.file-data > table {
    background-color: transparent;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break:break-all;
    white-space: normal;
}
