<appSettings>
  <!-- Service Bus specific app setings for messaging connections -->
  <add key="ServiceBusConnectionString"
       value="Endpoint=sb://massivescale.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=K+tvjUzaIbk+/5qWbr1Olc7UYZbgV86BK804oCT8vK4=" />
  <add key="StorageConnectionString"
       value="DefaultEndpointsProtocol=https;AccountName=iotiva;AccountKey=26C7uCU+VTSRnGvDjAHln14obH7rW6OQxxBKmlOvA15L+e6xCYCOKtWU8oV9n/raiSHYXua2y2TLI3sZ+BLCFw==" />

</appSettings>
